body {
  font-family: "Hiragino Kaku Gothic ProN";
  width: auto;
  margin: 0 auto;
  background-color: #7fffff;

}

a {
  text-decoration: none;
}

.container {
  width:auto;
  padding: 0px;

}



.top-wrapper {
  padding: 450px 0 100px 0;
  background-image: url(mokumoku.jpg);
  background-size: cover;
  height: auto;
  color: white;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 80px;
  letter-spacing: 5px;
  font-family: "Monotype Corsiva",fantasy;
  font-weight: bold;
  text-align: left;
}

.top-wrapper h2{
  text-align: left;
  font-weight:normal;
  opacity: 0.7;
}

.top-wrapper h1,h2{
  line-height: 10px;
}




.note {
  width:45px;
  height:45px;
  border-radius :10px;
}

header {
  width:100%;
  height: 65px;
  background-color: rgba(34, 49, 52, 0.7);
  position:fixed;
  top:0px;
  z-index:10;
  display: inline-block;
}


.header-left {
  float: left;
}

.header-left h1{
  color:white;
  font-family:"Monotype Corsiva",fantasy;
  font-size: 25px;
  transition: all 1s;
  text-align: left;
  width:100%;


}

.header-left span{
  color:#7fffff;
}

.header-right{
  float: right;
  display: flex;
  flex: auto;
}

.header-right a{
  text-align: center;
  font-size: 20px;
  font-family: serif;
  transition: all 1s;
}

.header-right a:hover {
  background-color: rgba(127, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.news-wrapper {
  background-color: rgba(192, 192, 192, 0.82);
  text-align: left;
  border-bottom: 1px solid #eee;
}

.news-wrapper a{
  color:black;
  border-bottom: 1px solid #660099;
}

.news-wrapper span{
  color:black;
}


.heading {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 650px;

}

.heading h2 {
  font-weight: normal;
  font-family: serif;
  font-size: 40px;
  color:black;

}

.heading h3 {
  font-weight: normal;
}

.live-wrapper {
  border-bottom: 1px solid #eee;
  text-align: left;
  background-color: rgba(192, 192, 192, 0.82);
}

.live-wrapper h2{
  color: black;

}

.live-wrapper h3{
  color:black;
  border-bottom: 1px solid #660099;
  display: inline-block;
}

.fa-twitter{
  color:skyblue;
}

.fa-instagram-square{
    color:black;
}

.profile-wrapper {
  border-bottom: 1px solid #eee;
  text-align: left;
  padding-bottom: 80px;
  background-color: rgba(192, 192, 192, 0.82);
}



.profile-wrapper h2,p{
  color: black;
}

.profile-wrapper p{
  border-bottom: 1px solid #660099;
  display: inline-block;
}

.profile-title{
  font-size: 21px;
  font-family: serif;
}

.discography-wrapper{
  border-bottom: 1px solid #eee;
  text-align: left;
  padding-bottom: 80px;
  background-color: rgba(192, 192, 192, 0.82);
}

.discography-wrapper p{
  border-bottom: 1px solid #660099;
  display: inline-block;
}

.contact-wrapper{
  border-bottom: 1px solid #eee;
  text-align: left;
  background-color: rgba(192, 192, 192, 0.82);
}

.contact-wrapper h2{
  color:black;
}

.contact-wrapper p{
  border-bottom: 1px solid #660099;
  display: inline-block;
}

footer h1 {
  color: white;
  font-family:"Monotype Corsiva",fantasy;
}

footer p{
  font-family: serif;
  color: white;
  font-size: 12px;
}

footer span{
  color:#7fffff;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(34, 49, 52, 0.9);
}
